<section class="flex place-items-center justify-center bg-gray pt-40 pb-20 xl:pt-56 xl:pb-28">
  <div class="title text-white">
    {{ 'templates.404.title' | t }}
  </div>
</section>
<article class="rte container sm:px-6 mt-20 -mb-5 xl:mt-28 xl:-mb-10 max-w-4xl text-center">
  {{ 'templates.404.subtext' | t }}
</article>