$mobile: 768px;

#kaktusc-cart-icon {
  display: none;
}

#shopify-section-header .header {
  background: transparent;

  .header--content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-menu {
      margin-top: 0;

      li {
        padding: 0;
      }
    }

    .header--logo-container {
      display: flex;
      align-items: center;

      .header--logo {
        width: 100px;
        height: 100px;

        opacity: 1;

        @media screen and (max-width: $mobile) {
          width: 50px;
          height: 50px;

          opacity: 1;
        }
      }

      .header--logo-title {
        cursor: pointer;
        display: inline-block;
        font-family: var(--font-sweet-sans), serif;
        font-size: .75rem;
        font-weight: 700;
        letter-spacing: .1875rem;
        text-transform: uppercase;
        transition: border-color .3s ease;
        color: white;

        line-height: 1;

        padding: 0;
        margin: 0;

        position: relative;
        left: -10px;

        @media screen and (max-width: $mobile) {
          font-size: 8px;
          left: -5px;
        }
      }
    }

    .header--menu-container {
      display: flex;
      gap: 25px;

      #kaktusc-cart-icon {
        display: block;
        position: relative;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;

        width: unset;
        height: unset;

        background: unset;
        border-radius: unset;

        margin: 0;

        .kaktusc-cart-icon-number {
          width: 15px;
          height: 15px;
          font-size: 12px;
          right: -14px;
        }

        .kaktusc-cart-icon-wrap {
          height: unset;
        }
      }
    }
  }
}

.index {
  .carousel {
    .flickity-slider .slide {
      width: 100%;
      color: black;
    }

    .flickity-page-dots {
      display: none;
    }
  }
}

.image-banner {
  .message {

    margin: 0 auto;

    p {
      max-width: 550px;
      margin: auto auto 1.25rem;
    }

    p.sub-title {
      font-size: 1.125rem;
    }
  }
}

.hero-collection {

}

.featured-collection {
  padding: 7rem 0;

  .heading--container {
    h2 {
      margin: 0;
    }

    p {
      margin: 0;
      max-width: 600px;
      margin: auto;
    }
  }

  .swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .flavor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 3rem 0;

    .image--container {
      width: 100%;
      max-width: 220px;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        max-width: 100%;
      }
    }

    h3 {
      margin: 0;
      font-size: 28px;
    }
  }

  .btn {
    margin: auto;
  }

  @media screen and (max-width: $mobile) {
    padding: 3rem 0;

    .heading--container {
      padding: 0 25px;

      h2 {
        font-size: 24px;
      }

      p {
        line-height: 1.5;
      }
    }

    .flavor {
      margin: 1.5rem 0;

      h3 {
        font-size: 20px;
      }

      p {
        margin-top: 15px;
      }
    }
  }
}

.main--product {
  display: flex;
  border-top: 3px solid var(--page-accent, black);
  border-bottom: 3px solid var(--page-accent, black);

  .product--media-container {
    width: 100%;
    max-width: 50%;
    flex-basis: 50%;

    .productSlider {
      margin-bottom: 20px;
    }

    .thumbSlider {
      cursor: pointer;
    }

    .image--container {
      position: relative;
      width: 100%;
      height: 0;

      padding-top: 100%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .product--details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: sticky;
    top: 175px;
    height: fit-content;

    width: 100%;
    max-width: 40rem;
    flex-basis: 50%;

    padding-top: 50px;
    padding-bottom: 50px;

    .title, p, .description, .flavor--title {
      color: var(--page-accent);
    }

    .title {
      font-size: 42px;
      color: var(--page-accent);
      margin: 0;

      line-height: 1;
    }

    .sub-title, .price {
      font-size: 16px;
      margin: 0;
    }

    .description {
      font-size: 20px;
      line-height: 1.5;
      margin: 0;

      br:last-child {
        display: none;
      }
    }

    .flavor--title {
      font-size: 28px;
    }

    .btn {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100%;
      padding: 10px 20px;
      text-decoration: none;
      min-height: 55px;
      border-radius: 100px;

      color: white;

      background: linear-gradient(90deg, var(--page-accent) 0%, var(--page-accent-2) 100%);

      span {

      }

      &:hover {
      }
    }
  }

  .flavors--container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 0;

    .flavor--list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 15px;

      .flavor--item {
        position: relative;
        width: 100%;
        height: 0;

        display: flex;

        padding-top: 100%;

        .flavor--image--container {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          border-radius: 50%;

          border: 3px solid var(--accent-color);

          img {
              width: 100%;
              height: 100%;
              object-fit: contain;
          }
        }

        &.active {
          order: 0;

          .flavor--image--container {
            background: var(--accent-color);
          }
        }
      }
    }
  }

  &.merch {
    border: none;

    .product--details-container {
      max-width: 700px;
      padding-top: 0;
      margin-right: 0;
      padding-right: 0;

      @media screen and (max-width: 1024px) {
        padding: 0;
        margin: 25px 0 0;
        max-width: 100%;
      }
    }

    .product--form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .color {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .color--title {

        }

        label {
          display: none;
        }

        .color--options--container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px;

          cursor: pointer;

          margin: 0;

          .color--option {
            display: flex;
            justify-content: space-between;
            align-items: center;

            border: 1px solid #A9ADAE;
            border-radius: 10px;
            padding: 25px;

            .image--container {
              max-width: 100px;
              width: 100%;

              position: relative;
              height: 100px;
              overflow: hidden;
              //padding-top: 100%;
              border-radius: 10px;
              margin: 0;

              display: flex;

              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            &.active {
              outline: 2px solid #A9ADAE;
              border: 1px solid black;
            }
          }

          @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
          }
        }
      }

      .size-quantity--container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        margin-top: 25px;

        @media screen and (max-width: $mobile) {
          grid-template-columns: 1fr;
          margin-top: 0;
        }
      }

      .quantity {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          display: none;
        }

        .plus-minus-quantity--selector {
          display: flex;
          gap: 10px;

          margin: 0;

          .plus, .minus {
            cursor: pointer;
          }

          label {
            border: 1px solid #A9ADAE;
            border-radius: 5px;

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;

            input {
              text-align: center;
              width: fit-content;
            }
          }
        }
      }

      .size {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          margin: 0;

          border: 1px solid #A9ADAE;
          border-radius: 5px;
          padding: 0 10px;

          select {
            font-size: 14px;

            max-height: 38px;
            height: 38px;

            width: 100%;

            cursor: pointer;
          }
        }
      }

      .color, .size-quantity--container {
        //display: none;
      }

      .atc--container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        margin-top: 25px;

        .price {
          font-size: 28px;
          font-weight: 700;
        }

        .btn {
          cursor: pointer;
          background: linear-gradient(90deg, #000 0%, #A9ADAE 100%);

          &:disabled {
            background: #A9ADAE;
            cursor: not-allowed;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    border-bottom: 3px solid var(--page-accent);

    //padding-top: 25px;

    .product--media-container {
      width: 100%;
      max-width: 100%;
    }

    .product--details-container {
      gap: 10px;
      padding: 1.5rem;
      padding-bottom: 3rem;
      max-width: 100%;

      .title {
        font-size: 28px;
      }

      .description {
        font-size: 16px;
      }

      .flavors--container {
        .flavor--title {
          font-size: 20px;
        }
      }

      .btn {
        min-height: 45px;
      }
    }
  }
}

.main--product-recipes {
  padding: 7rem 0;

  h2 {
    color: var(--page-accent);
    font-size: 32px;
  }

  .recipes--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
  }

  .recipe--item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .recipe--image--container {
      position: relative;
      width: 100%;
      height: 0;

      padding-top: 100%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h3 {
      font-size: 28px;
      color: var(--page-accent);
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 7rem 25px;
  }

  @media screen and (max-width: $mobile) {
    padding: 3rem 25px;
    padding-bottom: 0;

    h2 {
      font-size: 28px;
    }

    .recipes--container {
       grid-template-columns: repeat(1, 1fr);
    }

    .recipe--item {
      h3 {
        font-size: 20px;
      }
    }
  }
}

.btn {
  position: relative;

  border-radius: 25px;

  padding: 10px 10px 10px 20px;

  overflow: hidden;

  span {
    position: relative;
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 5px;

    z-index: 1;
  }

  .btn--arrow {
    width: 25px;
    height: 25px;

    z-index: 1;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, #B40E71 0%, #EBA07E 50.19%);
    height: 100%;
    left: 0;
    opacity: 0;
    z-index: 0;

    transition: opacity 0.3s ease;
  }

  &:hover {
    color: black;
    background: linear-gradient(90deg, #b7b7b7, #dfdfdf 50%, #b7b7b7);

    &:after {
      opacity: 1;
    }
  }
}

.product {
  .featured-collection {
    border-top: 3px solid var(--page-accent);

    .heading--container {
      h2, p {
        color: var(--page-accent);
      }
    }

    .btn {
      background: linear-gradient(90deg, var(--page-accent) 0%, var(--page-accent-2) 100%);
      color: white;

      svg {
        circle {
          fill: white;
        }

        path {
          fill: black;
        }
      }
    }

    @media screen and (max-width: $mobile) {
      border: none;
    }
  }

  .carousel {
    background: var(--page-accent);

    .sub-title, .title, p {
      color: white;
    }

    svg {
      fill: white;
    }
  }
}

.product, .blog, .article, .collection, .collection\.merch, .product\.merchandise {
  .header-wrap {
    position: sticky;
    top: 0;
    background: white;
    color: black;
  }

  .header .main-menu, .header--logo-title {
    color: black !important;
  }

  .kaktusc-cart-icon-wrap svg path, .kaktusc-cart-icon-wrap svg rect {
    fill: black;
  }

  .header {
    .hamburger span {
      background: black;
    }

    .brand {
      color: black;
    }

    .header--logo {
      //filter: invert(1);
    }
  }
}

.mobile_menu_active {
  .header-wrap {
    color: white;
  }

  .header .main-menu, .header--logo-title {
    color: white !important;
  }

  .kaktusc-cart-icon-wrap svg path, .kaktusc-cart-icon-wrap svg rect {
    fill: white;
  }

  .header {
    .hamburger span {
      background: white;
    }

    .brand {
      color: white;
    }

    .header--logo {
      //filter: invert(1);
    }
  }
}

.blog-tag--filter-container {
  display: flex;
  gap: 10px;

  margin-bottom: 15px;

  color: #A9ADAE;
}

.main-blog {
  .blog-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }

  .blog-article--content {
    margin-top: 25px;

    h3 {
      font-size: 28px;
    }
  }

  .pagination-wrapper {
    margin: 0;
  }
}

.main--article {
  .backlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.product\.merchandise .featured-collection .flavor {
  .image--container {
    max-width: 100%;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
  }
}

footer {
  .footer--top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    justify-content: center;

    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid white;

    .footer--menu-container  {
      //grid-column: 1 / span 2;
      width: 100%;
      flex-wrap: nowrap;

      .follow {
        ul li a {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    .footer--image-container {
      display: flex;
      justify-content: center;

      width: 100%;

      svg {
          width: 100%;
          max-width: 200px;
      }

      //grid-column: 3 / span 1;
    }

    .footer--newsletter-container {
      //grid-column: 4 / span 2;
      width: 100%;

      form {
        border: none;

        display: flex;
        gap: 10px;


        input[type="email"] {
          background: white;
          color: black;
          border-radius: 25px;
          padding: 0 15px;

          &::placeholder {
            text-transform: none;
            letter-spacing: 0;

            color: black;
          }
        }

        button[type="submit"] {
          border: 1px solid white;
          border-radius: 25px;
          padding: 10px 25px;

          text-transform: none;
          letter-spacing: 0;
        }

        &:focus-within {
          border: none;
        }
      }

      .subheading {
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
        margin-top: 10px;
      }

      .policy {
        font-size: 14px;
        font-weight: 400;

        margin-top: 1.875rem;

        text-transform: none;
        letter-spacing: 0;
      }
    }

    @media screen and (max-width: $mobile) {
      display: flex;
      gap: 25px;
      flex-direction: column;

      margin-bottom: 25px;
      padding-bottom: 25px;

      .footer--image-container {
        order: 0;

        max-width: 100px;
        margin: auto;
      }

      .footer--newsletter-container {
        order: 1;

        form {
          flex-direction: column;

          margin-top: 25px;

          input[type="email"] {
            min-height: 40px;
          }

          button[type="submit"] {
            font-family: var(--font-sweet-sans);
            font-weight: 700;
            letter-spacing: .25rem;
            text-transform: uppercase;
            background: linear-gradient(90deg, #000 0%, #353535 50.19%);
          }
        }

        .newsletter {
          text-align: left;

          p {
            font-size: 24px;

            &.subheading {
              font-size: 14px;
            }

            &.policy {
              font-size: 12px;
              margin-top: 25px;

            }
          }

          margin: 0;
        }
      }

      .footer--menu-container {
        order: 2;

        justify-content: space-between;
        gap: 10px;

        .touch-base, .follow {
          width: fit-content;
          margin: 0;
        }

        .touch-base {
          order: 0;
        }

        .follow {
          order: 1;
        }
      }

      .footer--menu-container, .footer--newsletter-container, .footer--image-container {
          width: 100%;
      }
    }
  }

  .footer--bottom {
    ul li a, a {
      text-transform: none;
      letter-spacing: 0;
    }

    .copyright {
      display: flex;
      gap: 10px;

      ul {
        margin: 0;

        li {

        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    background-size: auto 70% !important;
    background-position: top right -168% !important;

    .footer--bottom {
      .copyright {
        flex-direction: column-reverse;

        margin: 0;
      }
    }
  }
}

.main--collection {
  padding: 7rem 0;

  @media screen and (max-width: $mobile) {
    padding: 3rem 25px;
  }

  .title {
    margin-bottom: 25px;
  }

  .collection--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    row-gap: 50px;

    @media screen and (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);

      gap: 15px;
      row-gap: 25px;
    }

    .product--title {
      margin: 0;
      max-width: 75%;

      @media screen and (max-width: $mobile) {
        max-width: 100%;
      }
    }

    .image--container {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 150%;
      overflow: hidden;

      margin-bottom: 10px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .promo--container {
      position: relative;

      .promo--details {
        position: absolute;

        width: 100%;
        top: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 35px;

        @media screen and (max-width: $mobile) {
          .promo--title {
            display: none;
          }

          .btn {
            display: none;
          }
        }
      }
    }
  }
}

.video-banner {
  .message {
    justify-content: flex-end;

    padding-bottom: 50px;

    @media screen and (max-width: $mobile) {
      padding-bottom: 25px;
    }
  }

  .message--content {
    background: radial-gradient(closest-side, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);

    p {
      max-width: 550px;
    }
  }

  @media screen and (max-width: $mobile) {
    .image.relative {
      height: 0;
      padding-top: 125%;
      overflow: hidden;

      video {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.collection .call-to-action {
  margin-bottom: 25px;
}

@media screen and (max-width: $mobile) {
  .ornament {
    background-size: auto 150% !important;
    background-position: top right -200px !important;
  }

  .carousel .content--container-wrapper {
    padding-bottom: 7rem;
    padding-top: 7rem;
  }

  .carousel .content--container {
    text-align: left;
  }

  .carousel-ticker .ticker-item {
    width: 6rem;
  }

  .main-blog.container {
    padding: 3rem 25px;

    .blog-articles {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 25px;

      .blog-article--content {
        margin-top: 15px;

        h3 {
          font-size: 16px;
          letter-spacing: 0;
          line-height: 1.5;
        }
      }
    }
  }

  .main--article {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
